body 
	background: lightblue

.main 
	width: 600px
	margin: 100px auto
	&__tabs
		background: #33FF66
		cursor: pointer
		a
			padding: 10px 15px
			border: 1px solid #000
			display: inline-block
	&__content
		background: tomato


.block
	display: none
.block.is-active
	display: block
.block.is-visible
	display: block
.tab.is-active 
	color: #f00
