---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	

<div class="main">
	<nav class="main__tabs">
			<a class="tab first" data-link="#about-1">link1</a>
			<a class="tab" data-link="#about-2">link2</a>
			<a class="tab" data-link="#about-3">link3</a>
			<a class="tab" data-link="#about-4">link4</a>
	</nav>

	<div class="main__content">
			<div id="about-1" class="block">block-1</div>
			<div id="about-2" class="block">block-2</div>
			<div id="about-3" class="block">block-3</div>
			<div id="about-4" class="block">block-4</div>
	</div>

	<nav class="main__tabs">
		<a class="tab first" data-link="#capability-1">link1</a>
		<a class="tab" data-link="#capability-2">link2</a>
		<a class="tab" data-link="#capability-3">link3</a>
		<a class="tab" data-link="#capability-4">link4</a>
</nav>

<div class="main__content">
		<div id="capability-1" class="block">block-1</div>
		<div id="capability-2" class="block">block-2</div>
		<div id="capability-3" class="block">block-3</div>
		<div id="capability-4" class="block">block-4</div>
</div>
</div>

{% endblock %}
